<template>
  <div class="header">
    <div>
      <keep-alive :is="isBreadcrumb"></keep-alive>
    </div>
    <div class="headerRight">
      <div>{{userInfolist.name}}</div>
      <div><img src="@/assets/icon/btn_close@2x.png" class="outLogin" alt="退出" @click="logout"/></div>
    </div>
  </div>
</template>

<script>
import Breadcrumb from "@/components/common/Breadcrumb";
import {logout} from "@/Api/login";
import {getUserInfo} from "@/utils/storage";



export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Header",
  data() {
    return {
      isBreadcrumb: Breadcrumb
    }
  },
  // 使用对象展开运算符将此对象混入到外部对象中
  computed: {
    userInfolist () {
      return JSON.parse(getUserInfo('userInfo'))
    }


  },

  methods: {
    logout() {
      this.logoutApi()
      this.$router.push({
        path: "/"
      })
    },

    async logoutApi() {
      await logout().then(res=>{
        const {code, msg,data}=res
        if (code!=1){
          return this.$message({
            showClose: true,
            message: msg,
            type: 'error'
          });
        }
        this.$message({
          showClose: true,
          message: data,
          type: 'success'
        });
      })

    },

  },
  mounted() {

  }
}
</script>

<style scoped lang="scss">
.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerRight {

    display: flex;
    //justify-content: space-between;
    align-items: center;

    .outLogin {
      width: 25px;
      display: inline-block;
      cursor: pointer;
      vertical-align:middle
    }
  }
}
</style>
