<template>
  <div class="menu">
    <el-menu
      router
      default-active="2"
      class="el-menu-vertical-demo"
      background-color="#2578b5"
      text-color="#fff"
      active-text-color="#ffd04b">
      <template v-for="(item,index) in menusList">
        <el-submenu :index="index +''" :key="index">
          <template slot="title">
            <i :class="item.iconClass"></i>
            <span>{{ item.name }}</span>
          </template>
          <el-menu-item-group v-for="(childrenItem) in item.children" :key="childrenItem.id">
            <el-menu-item :index="childrenItem.path" >
              <i :class="childrenItem.iconClass"></i>
              {{ childrenItem.name }}
            </el-menu-item>
          </el-menu-item-group>
        </el-submenu>
      </template>


    </el-menu>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Menu",
  data() {
    return {
      menus: []
    }
  },
  computed: {
    menusList() {
      return this.menus.filter(item => {
        if (item.hidden != false) {

          return item
        }
      })
    }
  },
  created() {
    this.menus = [...this.$router.options.routes]

  },
  methods: {

  }
}
</script>

<style scoped lang="scss">
.menu {
  width: 200px;
  height: 100%;
  .el-menu {
    height: 100%;

    .el-submenu {
      min-width: 0;
    }

    .el-menu-item {
      min-width: 0;
    }
  }
}
</style>
