<template>
  <div class="Employee">
    <!--  搜索条件-->
    <div>
      <el-form class="EmployeeFrom" ref="form" :model="form" label-width="80px">
        <el-form-item label="员工姓名">
          <el-input v-model="form.name" placeholder="请输入员工名称" width="300">
            <el-button slot="append" icon="el-icon-search" @click="handleQuery()"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="addEmployee('add')">添加员工</el-button>
        </el-form-item>
      </el-form>
    </div>
    <!--  表格-->
    <div>
      <el-table
          class="EmployeeTab"
          :data="tableData"
          stripe
          style="width: 100%">
        <el-table-column
            type="index"
            width="50">
        </el-table-column>
        <el-table-column
            v-for="(item,index) in tableColumn"
            :key="index"
            :prop=item.prop
            :label=item.lable
            :width=item.width>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button
                size="mini"
                type="primary" plain
                @click="handleEdit(scope.$index, scope.row)">编辑
            </el-button>
            <el-button
                size="mini"
                type="primary" plain
                v-if="userInfolist.username=='admin'"
                @click="StateChange(scope.$index, scope.row)">
              {{ scope.row.status == "1" ? "禁用" : "正常" }}
            </el-button>
            <el-button
                size="mini"
                type="primary" plain
                v-if="userInfolist.username=='admin'"
                @click="handleDelete(scope.$index, scope.row)">删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!--  分页-->
    <div>
      <el-pagination
          v-if="pagination.total>0?true:false"
          class="Employeepagination"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="pagination.currentPage"
          :page-sizes="[10, 20, 30, 40]"
          :page-size="pagination.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="pagination.total">
      </el-pagination>
    </div>
    <!--  弹窗-->
    <el-dialog
        :title="addDialog.title"
        :visible.sync="addDialog.dialogVisible"
        width="30%"
    >
      <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="账号" prop="username">
          <el-input v-model="ruleForm.username" placeholder="请输入账号"></el-input>
        </el-form-item>
        <el-form-item label="员工姓名" prop="name">
          <el-input v-model="ruleForm.name" placeholder="请输入员工姓名"></el-input>
        </el-form-item>
        <el-form-item label="手机号" prop="phone">
          <el-input v-model="ruleForm.phone" placeholder="请输入手机号"></el-input>
        </el-form-item>
        <el-form-item label="性别" prop="sex">
          <el-radio-group v-model="ruleForm.sex">
            <el-radio label="1">男</el-radio>
            <el-radio label="0">女</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="身份证号" prop="idNumber">
          <el-input v-model="ruleForm.idNumber" placeholder="请输入身份证号"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
    <el-button @click="cancelDialogVisible">取 消</el-button>
    <el-button type="primary" @click="confirmDialogVisible('ruleForm', false)">保存</el-button>
           <el-button
               v-if="actionType == 'add'"
               type="primary"
               class="continue"
               @click="confirmDialogVisible('ruleForm', true)"
           >
              保存并继续添加
            </el-button>
  </span>
    </el-dialog>
  </div>
</template>

<script>
import {checkName, checkPhone, checkUserName, validID} from "@/utils/intendedEffect";
import {AddStaff, getById, page, update} from"@/Api/staffManagement/employee";
import {getUserInfo} from

"@/utils/storage";

export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Employee",
  data() {
    return {
      actionType: "",
      form: {
        name: ""
      },
      ruleForm: {
        username: "",
        name: "",
        phone: "",
        sex: "1",
        idNumber: ""
      },
      rules: {
        username: [
          {
            required: true, 'validator': checkUserName, trigger: 'blur'
          }
        ],
        //姓名
        name: [{required: true, 'validator': checkName, 'trigger': 'blur'}],
        'phone': [{'required': true, 'validator': checkPhone, 'trigger': 'blur'}],
        'idNumber': [{'required': true, 'validator': validID, 'trigger': 'blur'}]
      },
      addDialog: {
        title: "添加员工",
        dialogVisible: false,
        width: "30%"
      },
      tableData: [],
      tableColumn: [
        {
          prop: 'name',
          lable: '员工姓名',
          width: 200
        },
        {
          prop: 'username',
          lable: '账号'

        },
        {
          prop: 'phone',
          lable: '手机号'

        },
        {
          prop: 'statuses',
          lable: '账号状态'

        }
      ],
      pagination: {
        total: 0, // 总条数
        pageSize: 10, // 一页多少条数据
        currentPage: 1
      },
    }
  },
  // 使用对象展开运算符将此对象混入到外部对象中
  computed: {
    userInfolist() {
      return JSON.parse(getUserInfo('userInfo'))
    }


  },
  methods: {
    handleEdit(index, row) {
      this.actionType = "edit"
      this.addDialog.dialogVisible = true
      let id = row.id
      this.getByIdApi(id)
    },
    StateChange(index, row) {

      this.$confirm('确定调整该账号的状态?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {
          id: row.id,
          status: row.status == "1" ? '0' : '1'
        }
        this.updateApi(params)
        this.init()
      }).catch((err) => {
        this.$message({
          type: 'info',
          message: '请求出错误' + err
        });
      });
    },
    handleQuery() {
      this.pagination.currentPage = 1;
      this.pagination.pageSize = 10;
      this.init();
    },
    init() {
      const params = {
        name: this.form.name,
        page: this.pagination.currentPage,
        pageSize: this.pagination.pageSize,
      }
      this.pageApi(params)
    },
    addEmployee(str) {
      this.actionType = str
      this.addDialog.dialogVisible = true
    },
    handleSizeChange(val) {
      this.pagination.pageSize = val
      this.init()
    },
    handleCurrentChange(val) {
      this.pagination.currentPage = val
      this.init()
    },
    cancelDialogVisible() {

      this.addDialog.dialogVisible = false
    },
    confirmDialogVisible(formName, st) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.actionType === 'add') {
            const params = {
              ...this.ruleForm,
            }
            this.AddStaffApi(params, st)

          } else {
            const params = {
              ...this.ruleForm,
            }
            this.updateApi(params)

          }
        } else {

          console.log('error submit!!')
          return false
        }
      })
    },
    async AddStaffApi(data, st) {
      await AddStaff(data).then(res => {
        const {code, msg} = res
        if (code === 1) {
          this.$message.success(msg || '员工信息修改成功！')
          if (st) {
            this.ruleForm = {
              username: "",
              name: "",
              phone: "",
              sex: "1",
              idNumber: ""
            }
          } else {
            this.addDialog.dialogVisible = false,
                this.init()
          }

        } else {
          this.$message.error(msg || '操作失败')
        }
      }).catch(err => {
        this.$message.error('请求出错了：' + err)
      })
    },
    async pageApi(params) {
      await page(params).then(res => {
        const {code, data, msg} = res
        // eslint-disable-next-line no-unreachable
        data.records.map(item => item['statuses'] = item.status == "1" ? "正常" : "禁用")
        this.tableData = data.records
        this.pagination.total = res.data.total
        this.pagination.pageSize = res.data.size
        this.pagination.currentPage = res.data.current
        // eslint-disable-next-line no-unreachable
        this.$message({
          showClose: true,
          message: '查询成功',
          type: 'success'
        });
        if (code != 1) {
          return this.$message({
            showClose: true,
            message: msg,
            type: 'error'
          });
        }
      })
    },
    async updateApi(params) {
      await update(params).then(res => {
        const {code, data} = res
        if (code === 1) {
          this.$message({
            type: 'success',
            message: data
          });
          this.addDialog.dialogVisible = false
        }
      })
    },
    async getByIdApi(id) {
      await  getById(id).then(res => {
        const {code, data} = res
        if (code === 1) {
          this.ruleForm = data
        }
      })
    }
  },
  created() {
    this.init()
  }
}
</script>

<style scoped lang="scss">
.Employee {
  width: 100%;

  div {

    .EmployeeFrom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .el-form-item {
        margin: 0;
      }
    }

    .EmployeeTab {
      margin-top: 20px;
    }

    .Employeepagination {
      margin-top: 20px;
    }
  }
}
</style>
