
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html, body, #app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* css3 抗锯齿性（文字放大后会有锯齿性），让文字显示的更清晰  */
  -webkit-font-smoothing: antialiased;
  /* 文字：大小为12px/行高是文字的1.5倍 字体（'\5B8B\4F53'） 就是宋体的意思，因为汉字可能会显示成乱码，所以用 unicode ） */
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, '\5B8B\4F53', sans-serif;
  color: #333;

}


/*样式初始化*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset/*fieldset 元素可将表单内的相关元素分组*/,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td
{
  margin:0;
  padding:0;
  outline: 0;
  /*outline （轮廓）是绘制于元素周围的一条线，位于边框边缘的外围，可起到突出元素的作用。*/
  font:inherit;
  /*inherit 关键字指定一个属性应从父元素继承它的值。*/
  vertical-align: baseline;/*baseline 默认。元素放置在父元素的基线上。*/
}
a{
  color:#555;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

img{
  border:none;
}

ol,ul,li{
  list-style: none;
}

table{
  border-collapse: collapse;/*为表格设置合并边框模型*/
}

/************共用样式***********/


/*清除盒子浮动*/

.clear:after{
  content: ".";
  display: block;;
  height: 0;
  clear: both;
  visibility: hidden;
}
/*zoom:1让IE6的元素可以清除浮动来包裹内部元素*/
.clearfix{
  zoom:1;
}

.clearfix:before,clearfix:after{
  content:"";
  display:table;
}

.clearfix:after{
  clear: both;
}

.fl{
  float: left;
}

.fr{
  float: right;
}


