<template>
  <div class="HomePage">
    <div class="Home-aside">
      <keep-alive :is="isMenu"></keep-alive>
    </div>
    <div class="Home-container">
      <el-card class="Home-header">
        <keep-alive :is="isHeader"></keep-alive>
      </el-card>
      <el-card class="Home-main">
        <router-view></router-view>
      </el-card>
    </div>
  </div>
</template>

<script>
import Header from "@/components/common/Header";
import Menu from "@/components/common/Menu";

export default {
  name: "homeView",
  data() {
    return {
      isHeader: Header,
      isMenu: Menu,
      // isFooter: Footer,
      // isBreadcrumb: Breadcrumb
    }
  },

}
</script>

<style scoped lang="scss">
.HomePage {
  width: 100%;
  height: 100%;
  display: flex;

  .Home-aside {
    color: #333;
    text-align: center;
    height: 100%;
  }

  .Home-container {
    width: calc(100% - 200px);
    height: 100%;

    .Home-header{
      background-color: #FFFFFF;
      color: #333;
      text-align: center;
      height: 60px;
    }
    .Home-main {
      width: 98%;
      margin: auto;
      margin-top: 20px;
      background-color: #FFFFFF;
      color: #333;
      text-align: center;

    }
  }
}


</style>
