<template>
  <div class="loginPage">

    <el-card class="box-card">
      <div class="card-box">
        <!--        <div-->
        <!--            class="card-image"-->
        <!--        >-->
        <!--          <img src="../assets/image/login-l.png" style="width:100%" alt="图片失效"/></div>-->
        <div>
          <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"
                   status-icon>
            <el-form-item label="用户名称" prop="username">
              <el-input v-model="ruleForm.username"></el-input>
            </el-form-item>
            <el-form-item label="用户密码" prop="password">
              <el-input type="password" v-model="ruleForm.password" show-password></el-input>
            </el-form-item>
            <el-form-item>
              <el-button @click="resetForm('ruleForm')">取消</el-button>
              <el-button type="primary" @click="submitForm('ruleForm')">确定</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </el-card>

  </div>
</template>

<script>
import {login} from "@/Api/login";
import {setUserInfo} from "@/utils/storage";

export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Login",
  data() {
    return {
      ruleForm: {
        username: "",
        password: ""
      },
      rules: {
        username: [
          {required: true, message: '请输入用户名称', trigger: 'blur'},
          {min: 2, max: 15, message: '长度在 2 到 15 个字符', trigger: 'blur'}
        ],
        password: [
          {required: true, message: '请输入用户密码', trigger: 'blur'},

        ],
      }
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let data = {
            username: this.ruleForm.username,
            password: this.ruleForm.password
          }
          this.loginApi(data)
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    async loginApi(data) {
      await login(data).then(res => {
        const {code, data, msg} = res
        if (code != 1) {
          return this.$message({
            showClose: true,
            message: msg,
            type: 'error'
          });
        }
        setUserInfo("userInfo",JSON.stringify(data))
        localStorage.setItem('userInfo',JSON.stringify(data))
        this.$router.push({
          path:"/homeView",
          query:{}
        })
        this.$message({
          showClose: true,
          message: '登录成功',
          type: 'success'
        });

      })
    }
  }
}
</script>

<style scoped lang="scss">
.loginPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c0c0aa; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .box-card {
    //width: 480px;
    padding: 20px;

    .card-box {
      display: flex;
      justify-content: space-between;

      .card-image {
        width: 1066px;
        height: 852px;
      }
    }
  }

}
</style>
