<template>
  <div class="Cuisine">
    <!--  搜索及按钮-->
    <div class="buttonse">
      <div>
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="菜品名称">
            <el-input v-model="form.name" placeholder="请输入菜品名称" width="300">
              <el-button slot="append" icon="el-icon-search" @click="handleQuery()"></el-button>
            </el-input>
          </el-form-item>
        </el-form>
      </div>
      <div>
        <el-button type="text">批量删除</el-button>
        <el-button type="text">批量启售</el-button>
        <el-button type="text">批量停售</el-button>
        <el-button type="primary" icon="el-icon-plus" @click="handaddDialog">新建菜品</el-button>
      </div>
    </div>
    <!--  表格-->
    <div>
      <el-table
          :data="tableData"
          stripe
          style="width: 100%">
        <el-table-column
            type="index"
            width="50">
        </el-table-column>
        <el-table-column
            v-for="(item,index) in tableColumn"
            :key="index"
            :prop=item.prop
            :label=item.lable
            :width=item.width>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button
                size="mini"
                type="primary" plain
                @click="handleEdit(scope.$index, scope.row)">编辑
            </el-button>
            <el-button
                size="mini"
                type="primary" plain
                v-if="userInfolist.username=='admin'"
                @click="StateChange(scope.$index, scope.row)">
              {{ scope.row.status == "1" ? "禁用" : "正常" }}
            </el-button>
            <el-button
                size="mini"
                type="primary" plain
                v-if="userInfolist.username=='admin'"
                @click="handleDelete(scope.$index, scope.row)">删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!--  分页-->
    <div>
      <el-pagination
          v-if="pagination.total>0?true:false"
          class="Employeepagination"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="pagination.currentPage"
          :page-sizes="[10, 20, 30, 40]"
          :page-size="pagination.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="pagination.total">
      </el-pagination>
    </div>
    <!--  弹窗-->
    <div>
      <el-dialog
          :title="addDialog.title"
          :visible.sync="addDialog.dialogVisible"
          width="30%"
      >
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
          <el-form-item
              label="菜品名称:"
              prop="name"
          >
            <el-input
                v-model="ruleForm.name"
                placeholder="请填写菜品名称"
                maxlength="20"
            />
          </el-form-item>
          <el-form-item
              label="菜品分类:"
              prop="categoryId"
          >
            <el-select
                style="margin-left: -233px;   "
                v-model="ruleForm.categoryId"
                placeholder="请选择菜品分类"
            >
              <el-option v-for="(item,index) in dishList" :key="index" :label="item.name" :value="item.id"/>
            </el-select>
          </el-form-item>
          <el-form-item
              label="菜品价格:"
              prop="price"
          >
            <el-input
                v-model="ruleForm.price"
                placeholder="请设置菜品价格"
            />
          </el-form-item>
          <el-form-item label="口味做法配置:">
            <el-form-item>
              <div class="flavorBox">
              <span
                  v-if="dishFlavors.length == 0"
                  class="addBut"
                  @click="addFlavore"
              > + 添加口味</span>
                <div
                    v-if="dishFlavors.length != 0"
                    class="flavor"
                >
                  <div class="title">
                    <span>口味名（3个字内）</span><span>口味标签（输入标签回车添加）</span>
                  </div>
                  <div class="cont">
                    <div
                        v-for="(item, index) in dishFlavors"
                        :key="index"
                        class="items"
                    >
                      <div class="itTit">
                        <!-- <SelectInput
                          :dish-flavors-data="dishFlavorsData"
                          :index="index"
                          :value="item.name"
                          @select="selectHandle"
                        /> -->
                        <div class="selectInput">
                          <div>
                            <el-input
                                v-model="item.name"
                                type="text"
                                style="width: 100%"
                                placeholder="请输入口味"
                                @focus="selectFlavor(true,index)"
                                @blur="outSelect(false,index)"
                                @input="inputHandle(index)"
                            />
                          </div>
                          <div v-show="item.showOption" class="flavorSelect">
                          <span
                              v-for="(it, ind) in dishFlavorsData"
                              :key="ind"
                              class="items"
                              @click="checkOption(it,ind,index)"
                          >{{ it.name }}</span>
                            <span
                                v-if="dishFlavorsData == []"
                                class="none"
                            >无数据</span>
                          </div>
                        </div>
                      </div>
                      <div
                          class="labItems"
                          style="display: flex"
                      >
                      <span
                          v-for="(it, ind) in item.value"
                          :key="ind"
                      >{{ it }} <i @click="delFlavorLabel(index, ind)">X</i></span>
                        <div
                            class="inputBox"
                            :style="inputStyle"
                            contenteditable="true"
                            @focus="flavorPosition(index)"
                            @keydown.enter="(val)=>keyDownHandle(val,index)"
                        ></div>
                      </div>
                      <span
                          class="delFlavor delBut non"
                          @click="delFlavor(index)"
                      >删除</span>
                    </div>
                  </div>
                  <div
                      class="addBut"
                      @click="addFlavore"
                  >
                    添加口味
                  </div>
                </div>
              </div>
            </el-form-item>
          </el-form-item>
          <el-form-item
              label="菜品图片:"
              prop="region"
              class="uploadImg"
          >
            <el-upload
                class="avatar-uploader"
                action="https://jsonplaceholder.typicode.com/posts/"
                :show-file-list="false"
                :on-success="handleAvatarSuccess"
                :before-upload="beforeAvatarUpload">
              <img v-if="imageUrl" :src="imageUrl" class="avatar">
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>
          <el-form-item
              label="菜品描述:"
              prop="region"
          >
            <el-input
                v-model="ruleForm.description"
                type="textarea"
                :rows="3"
                placeholder="菜品描述，最长200字"
                maxlength="200"
            />
          </el-form-item>

          <span slot="footer" class="dialog-footer">
    <el-button @click="cancelDialogVisible">取 消</el-button>
    <el-button type="primary" @click="confirmDialogVisible('ruleForm', false)">保存</el-button>
           <el-button
               v-if="actionType == 'add'"
               type="primary"
               class="continue"
               @click="confirmDialogVisible('ruleForm', true)"
           >
              保存并继续添加
            </el-button>
  </span>
        </el-form>
      </el-dialog>
    </div>
  </div>
</template>

<script>
export default {
  name: "CuisineManagement",
  data() {
    return {
      dishList: [],
      form: {
        name: ""
      },
      actionType: "",
      tableData: [],
      imageUrl: '',
      dishFlavorsData: [],
      dishFlavors: [],
      tableColumn: [
        {
          prop: 'name',
          lable: '菜品名称',
          width: 200
        },
        {
          prop: 'typees',
          lable: '图片'

        },
        {
          prop: 'updateTime',
          lable: '菜品分类'

        },
        {
          prop: 'sort',
          lable: '售价'

        },
        {
          prop: 'sort',
          lable: '售卖状态'

        },
        {
          prop: 'sort',
          lable: '最后操作时间'

        },
      ],
      pagination: {
        total: 0, // 总条数
        pageSize: 10, // 一页多少条数据
        currentPage: 1
      },
      addDialog: {
        title: "",
        dialogVisible: true,
        width: "30%"
      },
      rules: {
        'name': [
          {'required': true, 'message': '请填写菜品名称', 'trigger': 'blur'}
        ],
        'categoryId': [
          {'required': true, 'message': '请选择菜品分类', 'trigger': 'change'}
        ],
        'price': [
          {
            'required': true,
            // 'message': '请填写菜品价格',
            validator: (rules, value, callback) => {
              if (!value) {
                callback(new Error('请填写菜品价格'))
              } else {
                const reg = /^\d+(\.\d{0,2})?$/
                if (reg.test(value)) {
                  if (value < 10000) {
                    callback()
                  } else {
                    callback(new Error('菜品价格小于10000'))
                  }
                } else {
                  callback(new Error('菜品价格格式只能为数字,且最多保留两位小数'))
                }
              }
            },
            'trigger': 'blur'
          }
        ],
      },
      ruleForm: {
        'name': '',
        'id': '',
        'price': '',
        'code': '',
        'image': '',
        'description': '',
        'dishFlavors': [],
        'status': true,
        categoryId: ''
      },
    }

  },
  methods: {
    handaddDialog() {
      this.addDialog.title = "新建菜品"
      this.addDialog.dialogVisible = true
    },
    handleQuery() {
    },
    handleSizeChange() {
    },
    handleCurrentChange() {
    },
    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw);
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg';
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式!');
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!');
      }
      return isJPG && isLt2M;
    }
  }
}
</script>

<style scoped lang="scss">
.Cuisine {
  width: 100%;

  .buttonse {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flavorBox {
    .addBut {
      background: #ffc200;
      display: inline-block;
      padding: 0px 20px;
      border-radius: 3px;
      line-height: 40px;
      cursor: pointer;
      border-radius: 4px;
      color: #333333;
      font-weight: 500;
    }

    .flavor {
      border: solid 1px #dfe2e8;
      border-radius: 3px;
      padding: 15px;
      background: #fafafb;

      .title {
        color: #606168;
      }

      .cont {
        .items {
          display: flex;
          margin: 10px 0;

          .itTit {
            width: 150px;
            margin-right: 15px;

            input {
              width: 100%;
              line-height: 40px;
              border-radius: 3px;
              padding: 0 10px;
            }
          }

          .labItems {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            border-radius: 3px;
            min-height: 39px;
            border: solid 1px #d8dde3;
            background: #fff;
            padding: 0 5px;

            span {
              display: inline-block;
              color: #f19c59;
              margin: 5px;
              line-height: 26px;
              height: 26px;
              padding: 0 10px;
              background: #fdf4eb;
              border-radius: 3px;
              border: solid 1px #fae2cd;

              i {
                cursor: pointer;
                font-style: normal;
              }
            }

            .inputBox {
              display: inline-block;
              width: 100%;
              height: 36px;
              line-height: 36px;
              overflow: hidden;
            }
          }

          .delFlavor {
            display: inline-block;
            padding: 0 10px;
            color: #f19c59;
            cursor: pointer;
          }
        }
      }
    }
  }

  ::v-deep .avatar-uploader {
    .el-upload {
      border: 1px dashed #4f4c4c;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }

    .el-upload:hover {
      border-color: #409EFF;
    }
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }

  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
}
</style>
