<template>
  <div>{{ count }}</div>
</template>

<script>
import {mapGetters, mapState} from "vuex";

export default {
  name: "globalState",
  data() {
    return {
      // count: 0
    }
  },
  computed:{
    ...mapState({
      count:'count'
    }),
    ...mapGetters([
      'doneTodos'
    ])
  },
  methods: {
    increment() {
      this.$store.commit('increment')
      console.log(this.count,this.doneTodos)
    }
  },
  mounted() {
    this.increment()
  }
}
</script>

<style scoped lang="scss">

</style>
