<template>
<div class="Order">
  <!--  搜索及按钮-->
  <div class="buttonse">
    <div>
      <el-form  ref="form" :model="form" label-width="80px">
        <el-form-item label="菜品名称">
          <el-input v-model="form.name" placeholder="请输入菜品名称" width="300">
            <el-button slot="append" icon="el-icon-search"  @click="handleQuery()"></el-button>
          </el-input>
        </el-form-item>
      </el-form>
    </div>
    <div>
      <el-button type="text">批量删除</el-button>
      <el-button type="text">批量启售</el-button>
      <el-button type="text">批量停售</el-button>
      <el-button type="primary" icon="el-icon-plus">新建菜品</el-button>
    </div>
  </div>
  <!--  表格-->
  <div>
    <el-table
        :data="tableData"
        stripe
        style="width: 100%">
      <el-table-column
          type="index"
          width="50">
      </el-table-column>
      <el-table-column
          v-for="(item,index) in tableColumn"
          :key="index"
          :prop=item.prop
          :label=item.lable
          :width=item.width>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
              size="mini"
              type="primary" plain
              @click="handleEdit(scope.$index, scope.row)">编辑
          </el-button>
          <el-button
              size="mini"
              type="primary" plain
              v-if="userInfolist.username=='admin'"
              @click="StateChange(scope.$index, scope.row)">
            {{ scope.row.status == "1" ? "禁用" : "正常" }}
          </el-button>
          <el-button
              size="mini"
              type="primary" plain
              v-if="userInfolist.username=='admin'"
              @click="handleDelete(scope.$index, scope.row)">删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
  <!--  分页-->
  <div>
    <el-pagination
        v-if="pagination.total>0?true:false"
        class="Employeepagination"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="pagination.currentPage"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pagination.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="pagination.total">
    </el-pagination>
  </div>
  <!--  弹窗-->
  <div></div>
</div>
</template>

<script>
export default {
  name: "OrderManagement",
  data(){
    return{
      form:{
        name:""
      },
      actionType: "",
      tableData: [],
      tableColumn: [
        {
          prop: 'name',
          lable: '菜品名称',
          width: 200
        },
        {
          prop: 'typees',
          lable: '图片'

        },
        {
          prop: 'updateTime',
          lable: '菜品分类'

        },
        {
          prop: 'sort',
          lable: '售价'

        },
        {
          prop: 'sort',
          lable: '售卖状态'

        },
        {
          prop: 'sort',
          lable: '最后操作时间'

        },
      ],
      pagination: {
        total: 0, // 总条数
        pageSize: 10, // 一页多少条数据
        currentPage: 1
      },
      addDialog: {
        title: "",
        dialogVisible: false,
        width: "30%"
      },
      ruleForm: {
        sort: "",
        name: "",
        type: null
      },
    }

  },
  methods:{
    handleQuery(){},
    handleSizeChange(){},
    handleCurrentChange(){}
  }
}
</script>

<style scoped lang="scss">

</style>
