<template>
  <div class="Sort">
    <!--  按钮添加-->
    <div class="SortButton">
      <el-button type="primary" @click="addEmployee('dishes')" icon="el-icon-plus">新增菜品分类</el-button>
      <el-button type="primary" @click="addEmployee('setMeal')" icon="el-icon-plus">新增套餐分类</el-button>
    </div>
    <!--  表格-->
    <div>
      <el-table
          class="SortTab"
          :data="tableData"
          stripe
          style="width: 100%">
        <el-table-column
            type="index"
            width="50">
        </el-table-column>
        <el-table-column
            v-for="(item,index) in tableColumn"
            :key="index"
            :prop=item.prop
            :label=item.lable
            :width=item.width>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button
                size="mini"
                type="primary" plain
                @click="handleEdit(scope.$index, scope.row)">编辑
            </el-button>
            <el-button
                size="mini"
                type="primary" plain
                @click="handleDelete(scope.$index, scope.row)">删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!--  分页-->
    <div>
      <el-pagination
          v-if="pagination.total>0?true:false"
          class="Sortpagination"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="pagination.currentPage"
          :page-sizes="[10, 20, 30, 40]"
          :page-size="pagination.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="pagination.total">
      </el-pagination>
    </div>
    <!--    弹窗-->
    <el-dialog
        :title="addDialog.title"
        :visible.sync="addDialog.dialogVisible"
        width="30%"
    >
      <el-form :model="ruleForm" status-icon ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="分类名称">
          <el-input v-model="ruleForm.name" placeholder="请菜品名称"></el-input>
        </el-form-item>
        <el-form-item label="排序">
          <el-input v-model="ruleForm.sort" placeholder="请输入排序"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
    <el-button @click="cancelDialogVisible">取 消</el-button>
    <el-button type="primary" @click="confirmDialogVisible( false)">保存</el-button>
           <el-button
               v-if="actionType == 'add'"
               type="primary"
               class="continue"
               @click="confirmDialogVisible(true)"
           >
              保存并继续添加
            </el-button>
  </span>
    </el-dialog>
  </div>
</template>

<script>
import {add, page, deletelist,update} from

"@/Api/staffManagement/SortManagement";
export default {
  name: "SortManagement",
  data() {
    return {
      eitId: "",
      actionType: "",
      tableData: [],
      tableColumn: [
        {
          prop: 'name',
          lable: '分类名称',
          width: 200
        },
        {
          prop: 'typees',
          lable: '分类类型'

        },
        {
          prop: 'updateTime',
          lable: '操作时间'

        },
        {
          prop: 'sort',
          lable: '排序'

        }
      ],
      pagination: {
        total: 0, // 总条数
        pageSize: 10, // 一页多少条数据
        currentPage: 1
      },
      addDialog: {
        title: "",
        dialogVisible: false,
        width: "30%"
      },
      ruleForm: {
        sort: "",
        name: "",
        type: null
      },
    }
  },
  methods: {
    init() {
      const params = {
        page: this.pagination.currentPage,
        pageSize: this.pagination.pageSize,
      }
      this.pageApi(params)
    },

    handleEdit(index, row) {
      this.addDialog.dialogVisible = true
      this.actionType = "exit"
      this.addDialog.title = "修改分类"
      this.eitId = row.id;
      this.ruleForm.name = row.name
      this.ruleForm.sort = row.sort

    },
    handleDelete(index, row) {
      this.$confirm('此操作将永久删除该条信息, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {
          id: row.id
        }
        this.deleteApi(params)

      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        });
      });


    },
    cancelDialogVisible() {
      this.addDialog.dialogVisible = false
    },
    confirmDialogVisible(booton) {
      if (this.addDialog.title == "添加菜品分类") {
        this.ruleForm.type = 1
      } else if (this.addDialog.title == "添加套餐分类") {
        this.ruleForm.type = 2
      }

      if (this.actionType == "add") {
        if (booton) {
          this.addApi(this.ruleForm)
          this.ruleForm = {
            sort: "",
            name: "",
          }
        } else {
          this.addApi(this.ruleForm)
          this.addDialog.dialogVisible = false
          this.init()
        }
      } else {
        const data = {
          id: this.eitId,
          name: this.ruleForm.name,
          sort: this.ruleForm.sort
        }
        this.updateApi(data)
      }
    },
    handleSizeChange(val) {
      this.pagination.pageSize = val
      this.init()
    },
    handleCurrentChange(val) {
      this.pagination.currentPage = val
      this.init()
    },
    addEmployee(text) {
      this.addDialog.dialogVisible = true
      this.actionType = "add"
      if (text == "dishes") {
        this.addDialog.title = "添加菜品分类"
      } else {
        this.addDialog.title = "添加套餐分类"
      }
    },
    async pageApi(params) {
      await page(params).then(res => {
        const {code, data, msg} = res
        data.records.map(item => item['typees'] = item.type == "1" ? "菜品分类" : "套餐分类")
        this.tableData = data.records
        console.log(this.tableData, `this.tableData`)
        this.pagination.total = res.data.total
        this.pagination.pageSize = res.data.size
        this.pagination.currentPage = res.data.current
        // eslint-disable-next-line no-unreachable
        this.$message({
          showClose: true,
          message: '查询成功',
          type: 'success'
        });
        if (code != 1) {
          return this.$message({
            showClose: true,
            message: msg,
            type: 'error'
          });
        }
      })
    },
    async addApi(data) {
      await add(data).then(res => {

      })
    },
    async deleteApi(params) {
      await deletelist (params).then(res => {
        const {code, data} = res
        if (code === 1) {
          this.$message({
            type: 'success',
            message: data
          });
          this.init()
        }
      })
    },
    async updateApi(data){
      update(data).then(res => {
        const {code,data,}=res;
        if (code===1){
          this.$message({
            showClose: true,
            message: data,
            type: 'success'
          });
          this.init()
          this.addDialog.dialogVisible = false
        }
        console.log(res)
      })
    }
  },
  mounted() {
    this.init()
  }
}

</script>

<style scoped lang="scss">
.Sort {
  width: 100%;

  .SortButton {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }

  .SortTab {
    margin-bottom: 20px;
  }

  .Sortpagination {
    margin-bottom: 20px;
  }
}
</style>
